:root {
  --grey: #bfbfbf;
  --white: #ffffff;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: unset;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--grey);
  border-radius: 12px;
  align-items: center;
  height: 10%;
  margin: 10px;
}

header:first-child {
  padding-left: 20px;
  font-size: 20px;
}

header > img {
  margin: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav p {
  margin: 0 5px;
}

nav a:hover {
  color: green;
}

aside {
  display: flex;
  height: 100%;
  width: 20%;
}

.left,
.right {
  flex: 1;
  background-color: var(--grey);
  margin: 0 10px;
  border-radius: 12px;
}

section {
  flex-grow: 1;
}

.content {
  display: flex;
  height: 80%;
}

.content:after {
  display: table;
}

include {
  height: 100%;
}

#postfile {
  background-color: navy;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}

.addPost {
  display: flex;
  height: 50%;
  width: 30%;
  flex: 1;
  background-color: var(--grey);
  margin: 0 10px;
  border-radius: 12px;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
