:root {
  --grey: #bfbfbf;
  --white: #ffffff;
  --beige: #DFC2A3;
  --lightbrown: #886F61;
  --brown: #5C4E46;
  --rose:#C97878;
  --aqua: #78c9c9;
}

html {
  height: 100%;
  color: var(--brown);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: unset;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--lightbrown);
  border-radius: 12px;
  align-items: center;
  height: 10%;
  margin: 10px;
}

header:first-child {
  padding-left: 20px;
  font-size: 20px;
}

header > a {
  margin: 10px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav p {
  margin: 0 5px;
}

nav a:hover {
  border-radius: 20px;
  padding: 5px;
  background-color: var(--rose);
}

aside {
  display: flex;
  height: 100%;
  width: 20%;
}

.left,
.right {
  flex: 1;
  background-color: var(--lightbrown);
  margin: 0 10px;
  border-radius: 12px;
}

section {
  flex-grow: 1;
  padding: 10px 20px;
  
  overflow-y: auto;
  overflow-x: hidden;
}

footer {
  display: flex;
  background-color: var(--lightbrown);
  border-radius: 12px;
  height: 10%;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

footer > h1 {
  margin: unset;
}

.content {
  display: flex;
  height: 80%;
}

.content:after {
  display: table;
}

.posts {
  height: 100%;
  width: 100%;

  flex-direction: column;
  flex: 1 1;
}

.filler {
  display: none;
}

.filler ~ .post {
  padding: 10px;
  height: auto;
  border: 1px solid var(--brown);
  border-radius: 20px;
  margin: 0 40px 15px 40px;
  background-color: var(--beige);
  justify-content: center;
  flex: 1;
  font-size: large;
}

.post-body {
  display: flex;
  flex-direction: column;
  text-align: flex-start;
}

.post-profile {
  display: flex;
  justify-content: space-between;
}

h1 + p {
  margin-top: unset;
}

a:link, a:visited{
  color: var(--beige);
}

.content-add-post {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.addPost {
  height: wrap;
  width: wrap;
  background-color: var(--beige);
  border-radius: 12px;
  margin: 10px;
  font-size: xx-large;
  text-align: center;
  margin-bottom: 20%;
}
form{
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  padding: 0.5rem;
}

textarea{
  resize: none;
  padding: 0.5rem;
  margin: 10px;
}

.post-body-textarea, .post-choose-file{
  flex-direction: row;
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}
.post-choose-file{
  width: 100%;
  justify-items: flex-start;
  align-items: center;
}


#choosefile{
  background-color: var(--lightbrown);
  color: var(--white);
  border-radius: 12px;
  border: unset;
  padding: 0.5rem;
  font-size: x-large;
  cursor: pointer;
  margin: 10px;
}

#submit, #submit2{
  background-color: var(--rose);
  color:var(--white);
  border-radius: 12px;
  border: unset;
  padding: 0.5rem;
  font-size: x-large;
  width: fit-content;
  margin: 10px;
}

#submit2 {
  cursor: pointer;
  pointer-events: fill;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.container{
  height: wrap;
  width: max-content;
  background-color: var(--beige);
  border-radius: 12px;
  margin: 10px;
  font-size: xx-large;
  text-align: center;
  padding: 20px;
  margin-bottom: 20%;
}
.login_blue_text{
  color: rgb(0, 191, 255);
}
.login_input_text{
  resize: none;
  padding: 0.5rem;
  margin: 10px;
}
.login_welcome{
  font-weight: bold;
}
.log_in_button{
  margin-bottom: 10px;
  width: 100%;
  justify-items: flex-start;
  align-items: center;
}
#submit{
  background-color: var(--rose);
  color:var(--white);
  border-radius: 12px;
  border: unset;
  padding: 0.5rem;
  font-size: x-large;
  width: fit-content;
  margin: 10px;
  cursor: pointer;
}

.input_class:invalid ~ a {
  pointer-events: none;
}

.input_class:valid ~ a {
  pointer-events: fill;
}

@media (min-width > 750) {
  aside {
    display: none;
  }
}
/* Dropdown Button */
.dropbtn {
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}